
// Color Wheel Variables
$mellow-grey: #999999;
$rit-orange: #eb6124;
$ghost-white: #f8f8f8;
$accent1: #3961e5;
$accent2: #0d104d;
// font variables
$font-size-tiny: 1rem;
$font-size-sm: 1.2rem;
$font-size-md: 1.5rem;
$font-size-lg: 2rem;

// Other variables
$bRadius: 2px;

body{
    background: url("../images/outerspace-bg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: $ghost-white;
}

.no-padding{
    padding: 0;
}

.no-margin{
    margin: 0;
}

.col-centered{
    float: none;
    margin: auto;
}

.transparency-layer{
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

p{
    font-size: $font-size-md;
}

a{
    text-decoration: none;
}

hr{
    box-shadow: 0px 1px 7px 9px #ffffff6b;
    border-top: 0;
    border: 0;
}

table{
    color: black;
}

.main-wrapper{
    overflow: hidden;
    padding: 3%;
    .page-wrapper{
        margin: auto;
        margin-top: 5%;
        margin-bottom: 5%;
        display: flex;
    }

    .page{
        background-color: rgba(255, 255, 255, 0.3);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: $bRadius;
    }
}

#about-section-wrapper{
    margin: auto;
    #quote{
        font-style: italic;
    }
    #quote-author{
        text-align: center;
    }
    p{
        padding-top: 2%;
        padding-bottom: 2%;
        padding-left: 5%;
        padding-right: 5%;
        font-size: $font-size-md;
    }
    h1{
        padding-top: 2%;
        padding-bottom: 2%;
        padding-left: 5%;
        padding-right: 5%;
        text-align: center;
    }
}

.people-choice{
    cursor: pointer;
}

.main-header{
    height: 10%;
    border-bottom: 2px solid orange;
    color: $mellow-grey;
    background-color: black;
    span{
        font-size: $font-size-sm;
    }
    a{
        text-decoration: none;
        color: $mellow-grey;
    }
}

#landing-div{
    height: 100vh;
    .main-title{
        height: 90%;
        text-align: center;
        h1{
            font-size: 6rem;
            padding-top: 20%;
            padding-bottom: 20%;
        }
        p{
            width: 20%;
            margin: auto;
        }
    }
}

#undergrad-deg-wrapper{
    #undergrad-deg-header{
        text-align: center;
        h1{
            text-align: center;
            padding: 2% 5%;
        }
    }
    .undergrad-deg{
        box-sizing: border-box;
        width: calc(100%/3);
        display: inline-block;
        padding: 3% 5%;
        cursor: pointer;
        h2{
            text-align: center;
            padding: 5px;
        }
        p{
            padding: 5px;
            text-align: center;
        }
    }
    .undergrad-deg:hover{
        h2{
            animation-name: popout;
            animation-duration: .5s;
        }
        @keyframes popout{
            from{transform: scale(1.0);}
            to{transform: scale(1.2);}
        }
    }
}

#grad-deg-wrapper{
    h1{
        text-align: center;
        padding: 2% 5%;
    }
    .grad-deg{
        box-sizing: border-box;
        display: inline-block;
        padding: 3% 5%;
        cursor: pointer;
        h2{
            text-align: center;
            padding: 5px;
        }
        p{
            padding: 5px;
            text-align: center;
        }
    }
    .grad-deg:hover{
        h2{
            animation-name: popout;
            animation-duration: .5s;
        }
        @keyframes popout{
            from{transform: scale(1.0);}
            to{transform: scale(1.2);}
        }
    }
    #grad-certs{
        margin: auto;
        text-align: center;
        a{
            color: $ghost-white;
        }
        h2{
            padding: 2%;
        }
        div{
            padding: 1%;
        }
    }
}

#minors-wrapper{
    .minors-header{
        text-align: center;
        padding: 2% 5%;
    }
    .ugMinor{
        height: 20vh;
        margin-bottom: 2%;
    }
    .title-wrapper{
        padding: 10%;
        background: linear-gradient($accent1, $accent2);
        height: 100%;
        width: 100%;
        text-align: center;
    }
}

#employment-section-wrapper{
    #employment-title{
        text-align: center;
        padding: 2% 5%;
    }
    .employment-subheader-div{
        text-align: center;
        padding: 2%;
        p{
            width: 70vw;
            margin: auto;
        }
    }
    .employment-subheader{
        padding: 2%;
        text-align: center;
    }
    .deg-stat-wrapper{
        height: 20vh;

        .deg-stats{
            width: 100%;
            height: 100%;
            padding: 10%;
            background: linear-gradient($accent1, $accent2);
            border-radius: $bRadius;
            text-align: center;
        }
    }
    #employers-list{
        padding: 2%;
        h4{
            display: inline-block;
            text-align: center;
            padding-left: 1%;
            padding-right: 1%;
        }
    }
    #careers-list{
        padding: 2%;
    }
}

#employment-section-wrapper-2{
    #employers-list{
        padding: 2%;
        text-align: center;
        h4{
            display: inline-block;
            text-align: center;
            padding-left: 1%;
            padding-right: 1%;
        }
    }
    #careers-list{
        padding: 2%;
        text-align: center;
    }
    .employment-subheader{
        padding: 2%;
        text-align: center;
    }
    p{
        text-align: center;
        padding: 2%;
    }
}

#map-section-wrapper{
    #map-header{
        text-align: center;
        padding: 2%;
    }
    #map-section{
        padding-top: 2%;
        padding-bottom: 5%;
        padding-right: 5%;
        padding-left: 5%;
        .map-div{
            width:80vw;
            height:60vh;
            margin: auto;
            iframe{
                border: 0;
                align-self: center;
                width:80vw;
                height:60vh;
            }
        }
    }
}

#coop-table-section{
    .coop-employment-table{
        padding: 7%;
        margin: 3%;
        text-align: center;
        display: inline-block;
        background: linear-gradient($accent1, $accent2);
    }
}

#people-section-wrapper{
    #people-header{
        text-align: center;
    }
    h1{
        padding: 2%;
        padding-bottom: 0;
    }
    p{
        padding: 1%;
    }
    .people-choice{
        display: inline-block;
        padding: 1%;
        margin: 1%;
    }
    .people-card-div{
        display: inline-block;
    }
}


/*============================================================== DIALOG STYLES*/

#concentration-list{
    list-style-type: square;
    font-style: italic;
    font-weight: bold;
}

.ui-dialog-titlebar{
    background-color: white;
}

/*===========================================================END DIALOG STYLES*/
