
// Color Wheel Variables
$mellow-grey: #999999;
$rit-orange: #eb6124;
$ghost-white: #f8f8f8;
$accent1: #3961e5;
$accent2: #0d104d;
$tiger-orange: #eb6124;

// font variables
$font-size-tiny: 1rem;
$font-size-sm: 1.2rem;
$font-size-md: 1.5rem;
$font-size-lg: 2rem;

// Other variables
$bRadius: 2px;

body{
    background: url("../images/outerspace-bg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: $ghost-white;
}

.no-padding{
    padding: 0;
}

.no-margin{
    margin: 0;
}

.col-centered{
    float: none;
    margin: auto;
}

.transparency-layer{
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

p{
    font-size: $font-size-md;
}

a{
    text-decoration: none;
    color: $ghost-white;
}

a:hover{
    text-decoration: none;
    color: $tiger-orange;
}

li:hover{
    color: $tiger-orange;
}


hr{
    box-shadow: 0px 1px 7px 9px #ffffff6b;
    border-top: 0;
    border: 0;
}

table{
    color: black;
}

.fancybox-content{
    color: black;
    ul{
        list-style-type: square;
    }
    a{
        color: orange;
        font-weight: bold;
        text-decoration: underline;
    }
    a:hover{
        color: black;
        font-weight: bold;
        text-decoration: underline;
    }
}

.main-wrapper{
    overflow: hidden;
    padding: 3%;
    .page-wrapper{
        margin: auto;
        margin-top: 5%;
        margin-bottom: 5%;
        display: flex;
    }

    .page{
        background-color: rgba(255, 255, 255, 0.3);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: $bRadius;
    }
}

.alt-page-wrapper{
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
}

#scroll-pointsy-woincy{
    padding-top: 5%;
}

#about-section-wrapper{
    margin: auto;
    padding: 5%;
    #quote{
        font-style: italic;
    }
    #quote-author{
        text-align: center;
    }
    p{
        padding-top: 2%;
        padding-bottom: 2%;
        padding-left: 5%;
        padding-right: 5%;
        font-size: $font-size-md;
    }
    h1{
        padding-top: 2%;
        padding-bottom: 2%;
        padding-left: 5%;
        padding-right: 5%;
        text-align: center;
    }
}

.people-choice{
    cursor: pointer;
}

.main-header{
    height: 10%;
    border-bottom: 2px solid $tiger-orange;
    color: $mellow-grey;
    background-color: black;
    span{
        font-size: $font-size-sm;
    }
    a{
        text-decoration: none;
        color: $mellow-grey;
    }
}

#landing-div{
    height: 100vh;
    .main-title{
        height: 90%;
        text-align: center;
        h1{
            font-size: 6rem;
            padding-top: 20%;
            padding-bottom: 20%;
        }
        p{
            width: 20%;
            margin: auto;
        }
        span{
            color: $tiger-orange;
        }
    }
}

#undergrad-deg-wrapper{
    #undergrad-deg-header{
        text-align: center;
        h1{
            text-align: center;
            padding: 2% 5%;
        }
    }
    .undergrad-deg{
        box-sizing: border-box;
        width: calc(100%/3);
        display: inline-block;
        padding: 3% 5%;
        cursor: pointer;
        h2{
            text-align: center;
            padding: 5px;
        }
        p{
            padding: 5px;
            text-align: center;
        }
    }
    // .undergrad-deg:hover{
    //     h2{
    //         animation-name: popout;
    //         animation-duration: .5s;
    //     }
    //     @keyframes popout{
    //         from{transform: scale(1.0);}
    //         to{transform: scale(1.2);}
    //     }
    // }
}

#grad-deg-wrapper{
    h1{
        text-align: center;
        padding: 2% 5%;
    }
    .grad-deg{
        box-sizing: border-box;
        display: inline-block;
        padding: 3% 5%;
        cursor: pointer;
        h2{
            text-align: center;
            padding: 5px;
        }
        p{
            padding: 5px;
            text-align: center;
        }
    }
    // .grad-deg:hover{
    //     h2{
    //         animation-name: popout;
    //         animation-duration: .5s;
    //     }
    //     @keyframes popout{
    //         from{transform: scale(1.0);}
    //         to{transform: scale(1.2);}
    //     }
    // }
    #grad-certs{
        margin: auto;
        text-align: center;
        a{
            color: $ghost-white;
        }
        h2{
            padding: 2%;
        }
        div{
            padding: 1%;
        }
    }
}

#minors-wrapper{
    .minors-header{
        text-align: center;
        padding: 2% 5%;
    }
    .title-wrapper{
        cursor: pointer;
        background: linear-gradient($accent1, $accent2);
        text-align: center;
        margin-bottom: 5%;
        height: 200px;
    }
    h3{
        position: relative;
        top: 15%;
    }
}

#employment-section-wrapper{
    #employment-title{
        text-align: center;
        padding: 2% 5%;
    }
    .employment-subheader-div{
        text-align: center;
        padding: 2%;
        p{
            width: 70vw;
            margin: auto;
        }
    }
    .employment-subheader{
        padding: 2%;
        text-align: center;
    }
    .deg-stat-wrapper{
        .deg-stats{
            width: 100%;
            height: 200px;
            padding: 10%;
            background: linear-gradient($accent1, $accent2);
            border-radius: $bRadius;
            text-align: center;
        }
    }
}

#employment-section-wrapper-2{
    #employers-list{
        padding: 2%;
        text-align: center;
    }
    #careers-list{
        text-align: center;
    }
    .employment-subheader{
        padding: 2%;
        text-align: center;
    }
    p{
        text-align: center;
        padding: 2%;
    }
}

#map-section-wrapper{
    #map-header{
        text-align: center;
        padding: 2%;
    }
    #map-section{
        padding-top: 2%;
        padding-bottom: 5%;
        padding-right: 5%;
        padding-left: 5%;
        .map-div{
            width:80vw;
            height:60vh;
            margin: auto;
            iframe{
                border: 0;
                align-self: center;
                width:80vw;
                height:60vh;
            }
        }
    }
}

#coop-table-wrapper{
    padding: 3%;
    .coop-table-header{
        text-align: center;
        padding: 2%;
    }
    #coop-table-section{
        .coop-title{
            cursor: pointer;
            background: linear-gradient($accent1, $accent2);
            height: 110px;
            width: 70%;
            padding: 5%;
            text-align: center;
            margin: auto;
        }
    }
}

#people-section-wrapper{
    #people-header{
        text-align: center;
    }
    h1{
        padding: 2%;
        padding-bottom: 0;
    }
    p{
        padding: 1%;
    }
    .people-choice{
        display: inline-block;
        padding: 1%;
        margin: 1%;
    }
    .people-card-div{
        padding: 0;
        text-align: center;
        margin-bottom: 1%;
    }
    .card-info{
        text-align: center;
        border: 1px solid $ghost-white;
        width: 20vw;
        padding: 5%;
        margin: auto;
        height: 100px;
    }
}

#research-section-wrapper{
    .research-header{
        text-align: center;
        padding: 2% 5%;
    }
    .research-circle-wrapper{
    }
    .research-circle{
        height: 100px;
        text-align: center;
        margin-bottom: 10%;
        background: linear-gradient($accent1, $accent2);
        h4{
            padding: 10%;
            display: inline-block;
        }
    }
}

#research-faculty-section-wrapper{
    .research-faculty-header{
        text-align: center;
        padding: 2% 5%;
    }
    .research-card-fac-div{
        text-align: center;
        padding: 2%;
    }
    .research-card-fac{
        position: relative;
        margin: auto;
        width: 195px;
        .fac-rec-name{
            position: absolute;
            display: none;
            width: 195px;
            margin: auto;
            color: #fff;
            background: linear-gradient($accent1, $accent2);
            white-space: normal;
            padding: 2%;
            bottom: 0px;
        }
    }
}

#current-resources-section{
    padding: 2%;
    text-align: center;
    .resource-header{
        padding: 2%
    }
    .resource-card-wrapper{
        margin-bottom: 2%;
        .resource-cards{
            height: 200px;
            background: linear-gradient(#3961e5, #0d104d);
            text-align: center;
            cursor: pointer;
            h3{
                padding: 10%;
            }
        }
    }
}

#footer-wrapper{
    #footer{
        background: #000000;
        text-align: center;
    }
    .social-presence{
        text-align: center;
        h1{
            padding: 5%;
        }
        h3, h4{
            padding: 2%;
        }
        a{
            font-size: 50px;
            padding: 1%;
        }
    }
    .apply-div-footer{
        margin-top: 25px;
        margin-bottom: 25px;
        background: $tiger-orange;
        padding: 0;
        a{
            display: block;
            border: 1px solid $ghost-white;
            padding: 1%;
        }
        a:hover{
            color: $ghost-white;
        }
    }
    .quicklinks-footer{
        ul{
            list-style-type: none;
        }
    }
    .news-footer{
        h3:hover{
            color: $tiger-orange;
        }
    }
}
