body {
  background: url("../images/outerspace-bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #f8f8f8; }

.no-padding {
  padding: 0; }

.no-margin {
  margin: 0; }

.col-centered {
  float: none;
  margin: auto; }

.transparency-layer {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0; }

p {
  font-size: 1.5rem; }

a {
  text-decoration: none;
  color: #f8f8f8; }

a:hover {
  text-decoration: none;
  color: #eb6124; }

li:hover {
  color: #eb6124; }

hr {
  box-shadow: 0px 1px 7px 9px #ffffff6b;
  border-top: 0;
  border: 0; }

table {
  color: black; }

.fancybox-content {
  color: black; }
  .fancybox-content ul {
    list-style-type: square; }
  .fancybox-content a {
    color: orange;
    font-weight: bold;
    text-decoration: underline; }
  .fancybox-content a:hover {
    color: black;
    font-weight: bold;
    text-decoration: underline; }

.main-wrapper {
  overflow: hidden;
  padding: 3%; }
  .main-wrapper .page-wrapper {
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex; }
  .main-wrapper .page {
    background-color: rgba(255, 255, 255, 0.3);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 2px; }

.alt-page-wrapper {
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex; }

#scroll-pointsy-woincy {
  padding-top: 5%; }

#about-section-wrapper {
  margin: auto;
  padding: 5%; }
  #about-section-wrapper #quote {
    font-style: italic; }
  #about-section-wrapper #quote-author {
    text-align: center; }
  #about-section-wrapper p {
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 1.5rem; }
  #about-section-wrapper h1 {
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center; }

.people-choice {
  cursor: pointer; }

.main-header {
  height: 10%;
  border-bottom: 2px solid #eb6124;
  color: #999999;
  background-color: black; }
  .main-header span {
    font-size: 1.2rem; }
  .main-header a {
    text-decoration: none;
    color: #999999; }

#landing-div {
  height: 100vh; }
  #landing-div .main-title {
    height: 90%;
    text-align: center; }
    #landing-div .main-title h1 {
      font-size: 6rem;
      padding-top: 20%;
      padding-bottom: 20%; }
    #landing-div .main-title p {
      width: 20%;
      margin: auto; }
    #landing-div .main-title span {
      color: #eb6124; }

#undergrad-deg-wrapper #undergrad-deg-header {
  text-align: center; }
  #undergrad-deg-wrapper #undergrad-deg-header h1 {
    text-align: center;
    padding: 2% 5%; }
#undergrad-deg-wrapper .undergrad-deg {
  box-sizing: border-box;
  width: calc(100%/3);
  display: inline-block;
  padding: 3% 5%;
  cursor: pointer; }
  #undergrad-deg-wrapper .undergrad-deg h2 {
    text-align: center;
    padding: 5px; }
  #undergrad-deg-wrapper .undergrad-deg p {
    padding: 5px;
    text-align: center; }

#grad-deg-wrapper h1 {
  text-align: center;
  padding: 2% 5%; }
#grad-deg-wrapper .grad-deg {
  box-sizing: border-box;
  display: inline-block;
  padding: 3% 5%;
  cursor: pointer; }
  #grad-deg-wrapper .grad-deg h2 {
    text-align: center;
    padding: 5px; }
  #grad-deg-wrapper .grad-deg p {
    padding: 5px;
    text-align: center; }
#grad-deg-wrapper #grad-certs {
  margin: auto;
  text-align: center; }
  #grad-deg-wrapper #grad-certs a {
    color: #f8f8f8; }
  #grad-deg-wrapper #grad-certs h2 {
    padding: 2%; }
  #grad-deg-wrapper #grad-certs div {
    padding: 1%; }

#minors-wrapper .minors-header {
  text-align: center;
  padding: 2% 5%; }
#minors-wrapper .title-wrapper {
  cursor: pointer;
  background: linear-gradient(#3961e5, #0d104d);
  text-align: center;
  margin-bottom: 5%;
  height: 200px; }
#minors-wrapper h3 {
  position: relative;
  top: 15%; }

#employment-section-wrapper #employment-title {
  text-align: center;
  padding: 2% 5%; }
#employment-section-wrapper .employment-subheader-div {
  text-align: center;
  padding: 2%; }
  #employment-section-wrapper .employment-subheader-div p {
    width: 70vw;
    margin: auto; }
#employment-section-wrapper .employment-subheader {
  padding: 2%;
  text-align: center; }
#employment-section-wrapper .deg-stat-wrapper .deg-stats {
  width: 100%;
  height: 200px;
  padding: 10%;
  background: linear-gradient(#3961e5, #0d104d);
  border-radius: 2px;
  text-align: center; }

#employment-section-wrapper-2 #employers-list {
  padding: 2%;
  text-align: center; }
#employment-section-wrapper-2 #careers-list {
  text-align: center; }
#employment-section-wrapper-2 .employment-subheader {
  padding: 2%;
  text-align: center; }
#employment-section-wrapper-2 p {
  text-align: center;
  padding: 2%; }

#map-section-wrapper #map-header {
  text-align: center;
  padding: 2%; }
#map-section-wrapper #map-section {
  padding-top: 2%;
  padding-bottom: 5%;
  padding-right: 5%;
  padding-left: 5%; }
  #map-section-wrapper #map-section .map-div {
    width: 80vw;
    height: 60vh;
    margin: auto; }
    #map-section-wrapper #map-section .map-div iframe {
      border: 0;
      align-self: center;
      width: 80vw;
      height: 60vh; }

#coop-table-wrapper {
  padding: 3%; }
  #coop-table-wrapper .coop-table-header {
    text-align: center;
    padding: 2%; }
  #coop-table-wrapper #coop-table-section .coop-title {
    cursor: pointer;
    background: linear-gradient(#3961e5, #0d104d);
    height: 110px;
    width: 70%;
    padding: 5%;
    text-align: center;
    margin: auto; }

#people-section-wrapper #people-header {
  text-align: center; }
#people-section-wrapper h1 {
  padding: 2%;
  padding-bottom: 0; }
#people-section-wrapper p {
  padding: 1%; }
#people-section-wrapper .people-choice {
  display: inline-block;
  padding: 1%;
  margin: 1%; }
#people-section-wrapper .people-card-div {
  padding: 0;
  text-align: center;
  margin-bottom: 1%; }
#people-section-wrapper .card-info {
  text-align: center;
  border: 1px solid #f8f8f8;
  width: 20vw;
  padding: 5%;
  margin: auto;
  height: 100px; }

#research-section-wrapper .research-header {
  text-align: center;
  padding: 2% 5%; }
#research-section-wrapper .research-circle {
  height: 100px;
  text-align: center;
  margin-bottom: 10%;
  background: linear-gradient(#3961e5, #0d104d); }
  #research-section-wrapper .research-circle h4 {
    padding: 10%;
    display: inline-block; }

#research-faculty-section-wrapper .research-faculty-header {
  text-align: center;
  padding: 2% 5%; }
#research-faculty-section-wrapper .research-card-fac-div {
  text-align: center;
  padding: 2%; }
#research-faculty-section-wrapper .research-card-fac {
  position: relative;
  margin: auto;
  width: 195px; }
  #research-faculty-section-wrapper .research-card-fac .fac-rec-name {
    position: absolute;
    display: none;
    width: 195px;
    margin: auto;
    color: #fff;
    background: linear-gradient(#3961e5, #0d104d);
    white-space: normal;
    padding: 2%;
    bottom: 0px; }

#current-resources-section {
  padding: 2%;
  text-align: center; }
  #current-resources-section .resource-header {
    padding: 2%; }
  #current-resources-section .resource-card-wrapper {
    margin-bottom: 2%; }
    #current-resources-section .resource-card-wrapper .resource-cards {
      height: 200px;
      background: linear-gradient(#3961e5, #0d104d);
      text-align: center;
      cursor: pointer; }
      #current-resources-section .resource-card-wrapper .resource-cards h3 {
        padding: 10%; }

#footer-wrapper #footer {
  background: #000000;
  text-align: center; }
#footer-wrapper .social-presence {
  text-align: center; }
  #footer-wrapper .social-presence h1 {
    padding: 5%; }
  #footer-wrapper .social-presence h3, #footer-wrapper .social-presence h4 {
    padding: 2%; }
  #footer-wrapper .social-presence a {
    font-size: 50px;
    padding: 1%; }
#footer-wrapper .apply-div-footer {
  margin-top: 25px;
  margin-bottom: 25px;
  background: #eb6124;
  padding: 0; }
  #footer-wrapper .apply-div-footer a {
    display: block;
    border: 1px solid #f8f8f8;
    padding: 1%; }
  #footer-wrapper .apply-div-footer a:hover {
    color: #f8f8f8; }
#footer-wrapper .quicklinks-footer ul {
  list-style-type: none; }
#footer-wrapper .news-footer h3:hover {
  color: #eb6124; }

/*# sourceMappingURL=index.css.map */
